@import "tailwindcss";

@theme {
  /* Warna Brand Visitec ala Trafoindo */
  --color-brand-dark: #0a192f;
  --color-brand-primary: #1d4ed8;
  
  /* Font Jakarta Sans yang sudah kita install */
  --font-jakarta: var(--font-plus-jakarta-sans);
}

:root {
  --background: #ffffff;
  --foreground: #0a192f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

/* Menghilangkan scrollbar secara paksa untuk class .scrollbar-hide */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}