@import "tailwindcss";

@theme {
  /* --- PALET WARNA BARU (GREEN THEME) --- */
  /* Menggunakan #10451D untuk warna gelap/teks utama */
  --color-brand-dark: #10451D; 
  
  /* Menggunakan #208B3A untuk warna aksi/tombol/highlight */
  --color-brand-primary: #208B3A; 
  
  /* Font Jakarta Sans yang sudah kita install */
  --font-jakarta: var(--font-plus-jakarta-sans);
}

:root {
  --background: #ffffff;
  /* Foreground juga disesuaikan dengan brand-dark agar konsisten */
  --foreground: #10451D; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

/* Menghilangkan scrollbar secara paksa untuk class .scrollbar-hide */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}